Repository zeta-chain/ethermint, pull requests merged in 2024-07, with the labels that each got.

#66 feat: add support stateful precompiles
  .github/CODEOWNERS
  CHANGELOG.md
  app/ante/eth.go
  app/ante/interfaces.go
  app/app.go
  client/docs/statik/statik.go
  go.mod
  go.sum
  rpc/backend/utils.go
  store/cachekv/README.md
  store/cachekv/bench_helper_test.go
  store/cachekv/benchmark_test.go
  store/cachekv/internal/btree.go
  store/cachekv/internal/btree_test.go
  store/cachekv/internal/memiterator.go
  store/cachekv/internal/mergeiterator.go
  store/cachekv/store.go
  store/cachekv/store_bench_test.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/cachemulti/store_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/native.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
  x/evm/statedb/transient_storage.go
  x/evm/types/interfaces.go
  x/evm/types/tracer.go
  x/evm/vm/geth/geth.go
  x/evm/vm/geth/precompiles.go
  x/evm/vm/interface.go
Labels: C:CLI

#82 ci: fix nix build
  .github/workflows/lint.yml
  .github/workflows/test.yml
  default.nix
  gomod2nix.toml
Labels: Type: CI

#81 ci: fix govulncheck workflow
  .github/workflows/dependencies.yml
  .github/workflows/govulncheck.yml
Labels: Type: CI

#90 ci: fix integration tests
  .github/workflows/test.yml
  tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/test_upgrade.py
Labels: Type: CI, Type: Tests
